:root {
  background-color: #f1faee;
  font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    min-height: 100%;
    line-height: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hidden {
    display: none;
  }
  
  header{

  }

  nav{

  }

/*various headings*/
h1 {
  font-size: 450%;
  margin-top: 20px;
  margin-left: 15px;
  color: #457b9d;
}

h2 {
  font-size: 200%;
}  

h3  {
  font-size: 150%;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 40px;
  color: #1d3557;
  text-align: center;
}

.btn {
  background-color: #e63946;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  padding: 19px 36px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  font-size: 150%;
  transition-duration: 0.4s;
}

.btn:hover {
  cursor: pointer;;
  background-color: #a8dadc;
  color: #1d3557;
}

.correctBtn {
  background-color: green;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  padding: 19px 36px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  font-size: 150%;
  transition-duration: 0.4s;
}

.corr


  ol, ul {
    list-style: none;
  }


  /* Matches the font of special elements to the rest of the page */
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
    margin-left: 15px;
  }